<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.applovin.sdkdemoapp"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- These permissions are mandatory to run AppLovin SDK -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- These permissions are strongly recommended and will result in higher performance -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="10"/>

    <application android:label="AppLovin SDK Demo App">

        <!-- AppLovin API key. Could be obtained from AppLovin management console -->
        <meta-data
                android:name="applovin.sdk.key"
                android:value="YOUR_SDK_KEY_HERE"/>

        <!-- This flag enables verbose logging of AppLovin SDK -->
        <meta-data
                android:name="applovin.sdk.verbose_logging"
                android:value="true"/>

        <!-- Demonstrates how to programmatically add an ad banner into a layout -->
        <activity android:name="com.applovin.sdkdemoapp.CustomBannerActivity">
        </activity>

        <!-- Demonstrates how to show an interstitial ad -->
        <activity android:name="com.applovin.sdkdemoapp.ShowInterstitialActivity">
        </activity>

        <!-- Demonstrates how to add custom targeting information to ad requests -->
        <activity android:name="com.applovin.sdkdemoapp.CustomTargetingActivity">
        </activity>

    </application>

</manifest>